{% load static %}
<div class="container">

    <div class="first-text">
        <img src="{% static 'Foto da capa_1.jpeg' %}" alt="Foto da Vitória sozinha no Shopping" class="foto-1">

        <div class="text-content">
            <span class="text-1">Meu amor, eu queria fazer esse textinho, para eu poder dizer para 
                você o quanto eu te amo! Eu não sou muito bom escrevendo,
                mas espero que você goste, porque tudo que estou colocando é do fundo do meu coração! Eu estou enrolando,
                já que esse texto, e esse site é para eu poder te dizer: FELIZ ANIVERSÁRIOOOO!!! 
                <i class="fa-solid fa-gift icon-birthday icon-gift"></i>
                <i class="fa-solid fa-face-smile icon-birthday icon-smile"></i>
                <i class="fa-solid fa-cake-candles icon-birthday icon-cake"></i>
            </span>

            <span class="text-2">Você é uma mulher muito especial para mim, eu amo passar cada dia,
                e cada momento que temos juntos, estar com você é sempre motiva e me dá vontade de 
                querer fazer mais e mais coisas. Você ilumina meus dias, meu amor! 
                <i class="fa-solid fa-sun icon-sun"></i>
            </span>
        </div>
    </div>
</div>